<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Classifier</title>
</head>
<body>
    <h1>Text Classifier</h1>
    <form action="/classify" method="post">
        <label for="tweet">Enter a Tweet:</label>
        <input type="text" id="tweet" name="tweet" required>
        <button type="submit">Classify</button>
    </form>
</body>
</html>
